<img   class="img-fluid hero"   src="https://img2.rtve.es/i/?w=1600&i=1668713076321.jpg"   alt="Mundial 2022" />
<h2 class="mt-4">Copa Mundial de la FIFA Catar 2022</h2>
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">
    <p class="p-4">
      La Copa Mundial de Fútbol de la FIFA Catar 2022 es la vigésima segunda
      edición de la Copa Mundial de Fútbol masculino organizada por la FIFA. Se
      está desarrollando desde el 20 de noviembre al 18 de diciembre del
      presente año en Catar, que consiguió los derechos de organización el 2 de
      diciembre de 2010
    </p>
  </div>
</div>
