/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  max-height: 100%;
}
html {
  height: 100%;
  max-height: 100%;
}
.wrapper {
  height: 100%;
}
